.base-entry {
    height: fit-content;
    width: 400px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.item-entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: space-between;
    gap: 25px;

    .item-img-container {
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: start;
    }

    .item-name {
        font-size: 14px;
    }

    .item-description-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;
        border: 1px solid gray;
        padding: 3px;
        height: 70px;
        
        .item-description {
            text-align: justify;
            hyphens: auto;
        }

        .btn-item-cost {
            width: 60px;
            height: 25px;
            color: white;
        }

        .btn-item-cost.blue {
            background: blue;
        }

        .btn-item-cost.red {
            background: red;
        }
    }

}

.item-img {
    height: 40px;
    width: auto;
}

