.base-entry {
  background: rgb(61, 51, 54);
  border: 1px solid #ddd;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
}

.flex-row-container {
  display: flex; 
  flex-flow: row nowrap;
  justify-content: space-between;
}

.game-users, .game-scores {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.game-users p,
.game-status p {
  margin: 0;
}

.btn-status {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  text-shadow: 0 1px 1px black;
}

.create-game-entry {
  min-height: 100px;
  max-height: 100px;
  display: grid;
}