.base-entry {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .game-users p, .game-status p {
    margin: 0;
  }
  
  .btn-status {
    margin-top: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-status.blue {
    background-color: blue;
    color: white;
  }
  
  .btn-status.green {
    background-color: green;
    color: white;
  }

  //very rough