@use "../constants/constants";

.preview {
    width: 100%;
    min-height: calc(90vh - constants.$navigation-height);
    max-height: calc(90vh - constants.$navigation-height);
    background-color: #3b3b3b;
    border-radius: 8px;
    margin: 20px 0;
    padding: 0 20px;
    overflow-y: auto;

    p, ul {
        margin-bottom: 20px;
    }

    li {
        list-style: none;
    }
}