.store {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
}

.store-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
}
