@import "pointer-animation-1";
@import "pointer-animation-2";
@import "pointer-animation-3";
@import "pointer-animation-4";

.animation-one {
    animation: animation-1 5s linear infinite;
}

.animation-two {
    animation: animation-2 10s linear infinite;
}

.animation-three {
    animation: animation-3 10s linear infinite;
}

.animation-four {
    animation: animation-4 10s linear infinite;
}

