@import "pointer-animation-1";
@import "pointer-animation-2";
@import "pointer-animation-3";
@import "pointer-animation-4";

.animation-one {
    animation: animation1 3s linear infinite;
}

.animation-two {
    animation: animation2 5s linear infinite;
}

.animation-three {
    animation: animation3 5s linear infinite;
}

.animation-four {
    animation: animation4 5s linear infinite;
}

