@keyframes animation-2 {
    0% {
      transform: translate(96px, 324px);
    }
    5% {
      transform: translate(104px, 256px);
    }
    10% {
      transform: translate(112px, 196px);
    }
    15% {
      transform: translate(120px, 144px);
    }
    20% {
      transform: translate(128px, 100px);
    }
    25% {
      transform: translate(136px, 64px);
    }
    30% {
      transform: translate(144px, 36px);
    }
    35% {
      transform: translate(152px, 16px);
    }
    40% {
      transform: translate(160px, 4px);
    }
    45% {
      transform: translate(166px, 1px);
    }
    50% {
      transform: translate(170, 0);
    }
    55% {
      transform: translate(176px, 4px);
    }
    60% {
      transform: translate(184px, 16px);
    }
    65% {
      transform: translate(192px, 36px);
    }
    70% {
      transform: translate(200px, 64px);
    }
    75% {
      transform: translate(208px, 100px);
    }
    80% {
      transform: translate(216px, 144px);
    }
    85% {
      transform: translate(224px, 196px);
    }
    90% {
      transform: translate(232px, 256px);
    }
    95% {
      transform: translate(240px, 324px);
    }
    100% {
      transform: translate(248px, 400px);
    }
  }
  