@keyframes animation-3 {
    0% {
      transform: translate(256px, 324px);
    }
    5% {
      transform: translate(264px, 256px);
    }
    10% {
      transform: translate(272px, 196px);
    }
    15% {
      transform: translate(280px, 144px);
    }
    20% {
      transform: translate(288px, 100px);
    }
    25% {
      transform: translate(296px, 64px);
    }
    30% {
      transform: translate(304px, 36px);
    }
    35% {
      transform: translate(312px, 16px);
    }
    40% {
      transform: translate(320px, 4px);
    }
    45% {
      transform: translate(328px, 1px);
    }
    50% {
      transform: translate(336px, 0);
    }
    55% {
      transform: translate(344px, 4px);
    }
    60% {
      transform: translate(352px, 16px);
    }
    65% {
      transform: translate(360px, 36px);
    }
    70% {
      transform: translate(368px, 64px);
    }
    75% {
      transform: translate(376px, 100px);
    }
    80% {
      transform: translate(384px, 144px);
    }
    85% {
      transform: translate(392px, 196px);
    }
    90% {
      transform: translate(400px, 256px);
    }
    95% {
      transform: translate(408px, 324px);
    }
    100% {
      transform: translate(416px, 400px);
    }
  }
  