@keyframes animation-4 {
    0% {
      transform: translate(422px, 324px);
    }
    5% {
      transform: translate(430px, 256px);
    }
    10% {
      transform: translate(438px, 196px);
    }
    15% {
      transform: translate(446px, 144px);
    }
    20% {
      transform: translate(454px, 100px);
    }
    25% {
      transform: translate(462px, 64px);
    }
    30% {
      transform: translate(470px, 36px);
    }
    35% {
      transform: translate(478px, 16px);
    }
    40% {
      transform: translate(486px, 4px);
    }
    45% {
      transform: translate(494px, 1px);
    }
    50% {
      transform: translate(502px, 0);
    }
    55% {
      transform: translate(510px, 4px);
    }
    60% {
      transform: translate(518px, 16px);
    }
    65% {
      transform: translate(526px, 36px);
    }
    70% {
      transform: translate(534px, 64px);
    }
    75% {
      transform: translate(544px, 100px);
    }
    80% {
      transform: translate(552px, 144px);
    }
    85% {
      transform: translate(560px, 196px);
    }
    90% {
      transform: translate(568px, 256px);
    }
    95% {
      transform: translate(576px, 324px);
    }
    100% {
      transform: translate(584px, 400px);
    }
  }
  