@keyframes animation3 {
  0% {
    transform: translate(440px, 370px);
  }
  5% {
    transform: translate(455px, 305px);
  }
  10% {
    transform: translate(470px, 245px);
  }
  15% {
    transform: translate(485px, 190px);
  }
  20% {
    transform: translate(500px, 140px);
  }
  25% {
    transform: translate(515px, 95px);
  }
  30% {
    transform: translate(530px, 60px);
  }
  35% {
    transform: translate(545px, 35px);
  }
  40% {
    transform: translate(560px, 25px);
  }
  45% {
    transform: translate(575px, 24px);
  }
  50% {
    transform: translate(590px, 25px);
  }
  55% {
    transform: translate(605px, 35px);
  }
  60% {
    transform: translate(620px, 45px);
  }
  65% {
    transform: translate(635px, 70px);
  }
  70% {
    transform: translate(650px, 100px);
  }
  75% {
    transform: translate(665px, 135px);
  }
  80% {
    transform: translate(680px, 175px);
  }
  85% {
    transform: translate(695px, 220px);
  }
  90% {
    transform: translate(710px, 270px);
  }
  95% {
    transform: translate(725px, 335px);
  }
  100% {
    transform: translate(740px, 405px);
  }
}
