@keyframes animation4 {
  0% {
    transform: translate(735px, 370px);
  }
  5% {
    transform: translate(750px, 305px);
  }
  10% {
    transform: translate(765px, 245px);
  }
  15% {
    transform: translate(780px, 190px);
  }
  20% {
    transform: translate(795px, 140px);
  }
  25% {
    transform: translate(810px, 95px);
  }
  30% {
    transform: translate(825px, 60px);
  }
  35% {
    transform: translate(840px, 35px);
  }
  40% {
    transform: translate(855px, 25px);
  }
  45% {
    transform: translate(870px, 24px);
  }
  50% {
    transform: translate(885px, 25px);
  }
  55% {
    transform: translate(900px, 35px);
  }
  60% {
    transform: translate(915px, 45px);
  }
  65% {
    transform: translate(930px, 70px);
  }
  70% {
    transform: translate(945px, 100px);
  }
  75% {
    transform: translate(960px, 135px);
  }
  80% {
    transform: translate(975px, 175px);
  }
  85% {
    transform: translate(990px, 220px);
  }
  90% {
    transform: translate(1005px, 270px);
  }
  95% {
    transform: translate(1020x, 335px);
  }
  100% {
    transform: translate(1035px, 405px);
  }
}
