@keyframes animation2 {
  0% {
    transform: translate(145px, 370px);
  }
  5% {
    transform: translate(160px, 305px);
  }
  10% {
    transform: translate(175px, 245px);
  }
  15% {
    transform: translate(190px, 190px);
  }
  20% {
    transform: translate(205px, 140px);
  }
  25% {
    transform: translate(220px, 95px);
  }
  30% {
    transform: translate(235px, 60px);
  }
  35% {
    transform: translate(250px, 35px);
  }
  40% {
    transform: translate(265px, 25px);
  }
  45% {
    transform: translate(280px, 24px);
  }
  50% {
    transform: translate(295px, 25px);
  }
  55% {
    transform: translate(310px, 35px);
  }
  60% {
    transform: translate(325px, 45px);
  }
  65% {
    transform: translate(340px, 70px);
  }
  70% {
    transform: translate(355px, 100px);
  }
  75% {
    transform: translate(370px, 135px);
  }
  80% {
    transform: translate(385px, 175px);
  }
  85% {
    transform: translate(400px, 220px);
  }
  90% {
    transform: translate(415px, 270px);
  }
  95% {
    transform: translate(430px, 335px);
  }
  100% {
    transform: translate(445px, 405px);
  }
}
