@keyframes animation1 {
  0% {
    transform: translate(0, 10px);
  }
  10% {
    transform: translate(15px, 25px);
  }
  20% {
    transform: translate(30px, 45px);
  }
  30% {
    transform: translate(45px, 70px);
  }
  40% {
    transform: translate(60px, 100px);
  }
  50% {
    transform: translate(75px, 135px);
  }
  60% {
    transform: translate(90px, 175px);
  }
  70% {
    transform: translate(105px, 220px);
  }
  80% {
    transform: translate(120px, 270px);
  }
  90% {
    transform: translate(135px, 335px);
  }
  100% {
    transform: translate(150px, 405px);
  }
}