p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    /** @see https://www.tempertemper.net/blog/accessibility-issues-when-removing-list-markers */
    li:before {
        content: "\200B";
    }
}