@use "../constants/constants";

.main-dashboard {
    min-height: calc(100vh - constants.$navigation-height);
    max-height: calc(100vh - constants.$navigation-height);
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-auto-flow: column;
    margin: 0 constants.$default-margin 0 0;
    
    .inbox {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -1;
    }

    .settings {
        grid-column-start: 8;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .store-container {
        grid-column-start: 8;
        grid-column-end: -1;
        grid-row-start: 4;
        grid-row-end: -1;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        overflow-y: hidden;

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: maroon;
            border-radius: 10px;
        }


    }

    .user-previous-games {
        grid-column-start: 4;
        grid-column-end: -8;
        grid-row-start: 4;
        grid-row-end: -1;
    }
}

.mb-def {
    margin-bottom: constants.$default-margin;
}