.leaderboards-container {
    display: grid;
    grid-template-columns: 250px 435px 325px 325px;
    column-gap: 40px;

    .solo-leaderboards {
        width: 250px;
    }
    .versus-leaderboards {
        width: 435px;
    }
    .leaderboards-solo {
        width: 325px;
    }
    .leaderboards-solo {
        width: 325px;
    }
}