@use "../constants/constants";

.main-profile {
  margin: 0 constants.$default-margin;
}

.profile-info {
  margin-top: constants.$default-margin;
}

.username,
.profile-picture,
.recent-games,
.additional-info {
  margin-bottom: constants.$default-margin;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.recent-games ul {
  list-style-type: none;
  padding: 0;
}

.recent-games li {
  margin-bottom: 10px;
}

.mr-def {
  margin-left: constants.$default-margin;
}