.navigation {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 25px;

    ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;

        li {
            list-style: none;
        }
    }
}