::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: maroon;
  border-radius: 10px;
}

.default-scrollbar {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

.small-scrollbar {
  ::-webkit-scrollbar {
    width: 2.5px;
  }
}
